[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/uni/git/ctl_layer/dbus-1.0.3/test/test-shell-service -test "that" 'we get' back --what "we put in"
