[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/lennart/git/dbus/test/test-shell-service "this should 'fail' because of an unterminated quote 
User=anyrandomuser

