<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WCB3000 Status</title>
<%actInclude("wcb_common.html")%>
<link href="css/main.css" rel="stylesheet" type="text/css" />

<script language="javascript">

var lastStr = "";
var refresh_times = 0;
var check_times = 0;

var wlan0 = "<% actValue("status", "wlan0"); %>";
var wlan1 = "<% actValue("status", "wlan1"); %>";

var wl_title_table, wl2g_table, wl5g_table;
var id_left_mocachannel, id_left_mocaprivacy;
var id_right_mocachannel, id_right_mocaprivacy;
var wl_freq_value;
var id2_apenb, id2_apsecmode, id2_apchannel, id2_ssid;
var id5_apenb, id5_apsecmode, id5_apchannel, id5_ssid;
var id2_macaddr, id5_macaddr;
var moca_left_head, moca_left_body;
var moca_right_head, moca_right_body;
var band2_span, band5_span;
var id_ipaddress, id_subnet, id_gateway;
var ipv6_span;

function doLoad()
{
	wl_title_table = document.getElementById("wl_title_table");
	wl2g_table = document.getElementById("wl2g_table");
	wl5g_table = document.getElementById("wl5g_table");
	ipv6_span = document.getElementById("ipv6_span");

	id2_apenb = document.getElementById("id2_apenb");
	id2_ssid = document.getElementById("id2_ssid");
	id2_apsecmode = document.getElementById("id2_apsecmode");
	id2_apchannel = document.getElementById("id2_apchannel");
	id5_apenb = document.getElementById("id5_apenb");
	id5_ssid = document.getElementById("id5_ssid");
	id5_apsecmode = document.getElementById("id5_apsecmode");
	id5_apchannel = document.getElementById("id5_apchannel");
	
	id_left_mocaprivacy = document.getElementById("id_left_mocaprivacy");
	id_left_mocachannel = document.getElementById("id_left_mocachannel");	
	id_right_mocaprivacy = document.getElementById("id_right_mocaprivacy");
	id_right_mocachannel = document.getElementById("id_right_mocachannel");

	id2_macaddr = document.getElementById("id2_macaddr");	
	id5_macaddr = document.getElementById("id5_macaddr");	

	moca_left_head = document.getElementById("moca_left_head");	
	moca_left_body = document.getElementById("moca_left_body");	
	moca_right_head = document.getElementById("moca_right_head");	
	moca_right_body = document.getElementById("moca_right_body");

	band2_span = document.getElementById("band2_span");
	band5_span = document.getElementById("band5_span");

	id_ipaddress = document.getElementById("id_ipaddress");
	id_subnet = document.getElementById("id_subnet");
	id_gateway = document.getElementById("id_gateway");

	if(wifi_supported == 0)
	{
		wl_title_table.style.display = "none";
		wl2g_table.style.display = "none";
		wl5g_table.style.display = "none";

		moca_left_head.style.display = "block";
		moca_left_body.style.display = "block";
		moca_right_head.style.display = "none";
		moca_right_body.style.display = "none";
	}
	else
	{	
		if(both_freq == 0)
		{
			if(wlan_idx == 1)
			{
				wl2g_table.style.display = "block";
				wl5g_table.style.display = "none";

				wl_freq_value = "10";
				id2_macaddr.innerHTML = wlan1;
				id5_macaddr.innerHTML = "N/A";
			}
			else if(wlan_idx == 0)
			{
				wl2g_table.style.display = "none";
				wl5g_table.style.display = "block";

				wl_freq_value = "11";
				id2_macaddr.innerHTML = "N/A";
				id5_macaddr.innerHTML = wlan0;		
			}

			moca_left_head.style.display = "block";
			moca_left_body.style.display = "block";
			moca_right_head.style.display = "none";
			moca_right_body.style.display = "none";
		}
		else 
		{
			wl2g_table.style.display = "block";
			wl5g_table.style.display = "block";

			wl_freq_value = "0";
			id2_macaddr.innerHTML = wlan1;
			id5_macaddr.innerHTML = wlan0;

			moca_left_head.style.display = "none";
			moca_left_body.style.display = "none";
			moca_right_head.style.display = "block";
			moca_right_body.style.display = "block";
		}

		doWlFreq();
	}

	doGetMoca();
	doGetIP();
	doGetIPv6();	
	doRefresh();
}

function doGetIPv6()
{
	var params = "&command=getipv6";		
	ajaxPost("advmanage.cgi", params, resGetIPv6);
}

function resGetIPv6(message)
{
	var table_str = "<table width=\"80%\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"status_style\">";
	var messageArray = message.split("||");
	
	if(messageArray.length > 1)
	{			
		for(var i = 0; i < messageArray.length - 1; i++)
		{
			var index = 0;
			var advArray = messageArray[i].split("|");
			var type = advArray[index++];
			var addr = advArray[index++];

			if(type == "2")
			{			
				table_str += "<tr><td>Link Local:</td>";
				table_str += "<td><span>" + addr + "</span></td></tr>";
			}
			else if(type == "4")
			{
				table_str += "<tr><td>Unique Local:</td>";
				table_str += "<td><span>" + addr + "</span></td></tr>";
			}
			else if(type == "8")
			{
				table_str += "<tr><td>Global Unique:</td>";
				table_str += "<td><span>" + addr + "</span></td></tr>";
			}			
		}
	}
	table_str += "</table>";
	ipv6_span.innerHTML = table_str;
}

function doGetIP()
{
	var params = "&command=getvalue";		
	ajaxPost("advmanage.cgi", params, resGetIP);
}

function resGetIP(message)
{
	var messageArray = message.split("||");
	
	if(messageArray.length > 1)
	{			
		for(var i = 0; i < messageArray.length - 1; i++)
		{
			var index = 0;
			var advArray = messageArray[i].split("|");
			var ip = changeString(advArray[index++]);
			var subnet = changeString(advArray[index++]);
			var gateway = changeString(advArray[index++]);

			id_ipaddress.innerHTML = ip;
			id_subnet.innerHTML = subnet;
			id_gateway.innerHTML = gateway;
		}
	}
}


function doGetMoca()
{
	var params = "&command=getvalue";		
	ajaxPost("mocasetup.cgi", params, resGetMoca);
}

function resGetMoca(message)
{
	var messageArray = message.split("||");
	
	if(messageArray.length > 1)
	{			
		for(var i = 0; i < messageArray.length - 1; i++)
		{
			var index = 0;
			var mocaArray = messageArray[i].split("|");
			var moca_channel = changeString(mocaArray[index++]);
			var moca_privacy = changeString(mocaArray[index++]);
			var moca_password = changeString(mocaArray[index++]);

			if(moca_privacy == "0") 
			{
		    	id_left_mocaprivacy.innerHTML = "Disabled";  
		    	id_right_mocaprivacy.innerHTML = "Disabled"; 
		  	}
		  	else
		    {
		    	id_left_mocaprivacy.innerHTML = moca_password;
		    	id_right_mocaprivacy.innerHTML = moca_password;
			}
			
			if(moca_channel == "0x0000000015554000")
			{
			    id_left_mocachannel.innerHTML = "Automatic";
			    id_right_mocachannel.innerHTML = "Automatic";
			}
			else if(moca_channel == "0x0000000000004000")
			{
				id_left_mocachannel.innerHTML = "1-1150MHz";
				id_right_mocachannel.innerHTML = "1-1150MHz";
			}
			else if(moca_channel == "0x0000000000010000")
			{
				id_left_mocachannel.innerHTML = "2-1200MHz";
				id_right_mocachannel.innerHTML = "2-1200MHz";
			}
			else if(moca_channel == "0x0000000000040000")
			{
				id_left_mocachannel.innerHTML = "3-1250MHz";
				id_right_mocachannel.innerHTML = "3-1250MHz";
			}
			else if(moca_channel == "0x0000000000100000")
			{
				id_left_mocachannel.innerHTML = "4-1300MHz";
				id_right_mocachannel.innerHTML = "4-1300MHz";
			}
			else if(moca_channel == "0x0000000000400000")
			{
				id_left_mocachannel.innerHTML = "5-1350MHz";
				id_right_mocachannel.innerHTML = "5-1350MHz";
			}
			else if(moca_channel == "0x0000000001000000")
			{
				id_left_mocachannel.innerHTML = "6-1400MHz";
				id_right_mocachannel.innerHTML = "6-1400MHz";
			}
			else if(moca_channel == "0x0000000004000000")
			{
				id_left_mocachannel.innerHTML = "7-1450MHz";
				id_right_mocachannel.innerHTML = "7-1450MHz";
			}
			else if(moca_channel == "0x0000000010000000")
			{
				id_left_mocachannel.innerHTML = "8-1500MHz"; 
				id_right_mocachannel.innerHTML = "8-1500MHz";
			}
		}
	}
}
		

function doRefresh()
{
	ajaxGet("ajax_lanhost.html", handleRefresh);
}

function handleRefresh(message)
{
	check_times++;

	if(check_times >= 15)
	{
		window.clearTimeout("doRefresh()");	
		return;
	}
			
	if(lastStr != message)
	{
	   	lastStr = message;	    	
		    	
	   	if(lastStr.indexOf("</tr>") != -1)			
	   	{
			document.getElementById("clients_span").innerHTML = lastStr;	
			refresh_times = 1;
		}
				
		window.setTimeout("doRefresh()", 2000);	
	}
	else
	{
		if(refresh_times)
			refresh_times++;
	
		if(refresh_times >= 5)
			window.clearTimeout("doRefresh()");	
		else
			window.setTimeout("doRefresh()", 2000);					
	}			
}

function doWlFreq()
{
	var params = "";

	params += "&wl_freq=" + wl_freq_value; 	
	params += "&command=getvalue";		

	ajaxPost("wlbasic.cgi", params, resGetValue);
}

function resGetValue(message)
{
	var messageArray = message.split("||");
	
	if(messageArray.length > 1)
	{			
		for(var i = 0; i < messageArray.length - 1; i++)
		{
			var index = 0;
			var basicArray = messageArray[i].split("|");
			var wlan_idx = basicArray[index++];
			var disabled = basicArray[index++];
			var chanwidth = basicArray[index++];
			var coexist = basicArray[index++];
			var channumber = basicArray[index++];
			var encrypt = basicArray[index++];	
			var band = basicArray[index++];			
			var wpa_cipher = basicArray[index++];
			var rate_enabled = basicArray[index++];
			var rate = basicArray[index++];
			var transmit = basicArray[index++];
			var ssid = htmlDecodeStr(basicArray[index++]);
			var wep_key = changeString(basicArray[index++]);			
			var wpa_psk = changeString(basicArray[index++]);	

			if(wlan_idx == "1")
			{
				if(disabled == "1")
					id2_apenb.innerHTML = "Disabled";
				else if(disabled == "0")
					id2_apenb.innerHTML = "Enabled";

				if(channumber == "0")
					id2_apchannel.innerHTML = "Automatic";
				else
					id2_apchannel.innerHTML = channumber;

				if(encrypt == "0")				
					id2_apsecmode.innerHTML = "Open";				
				else if(encrypt == "1")		
				{
					if(wep_key.length <= 10)						
						id2_apsecmode.innerHTML = "WEP 64bits";		
					else
						id2_apsecmode.innerHTML = "WEP 128bits";
				}
				else if(encrypt == "2")
					id2_apsecmode.innerHTML = "WPA";		
				else if(encrypt == "4")
					id2_apsecmode.innerHTML = "WPA2";		
				else if(encrypt == "6")
					id2_apsecmode.innerHTML = "WPA/WPA2 Mixed";			

				id2_ssid.innerHTML = ssid;

				if(band == "0")
					band2_span.innerHTML = "B";
				else if(band == "1")
					band2_span.innerHTML = "G";
				else if(band == "7")
					band2_span.innerHTML = "N";
				else if(band == "2")
					band2_span.innerHTML = "B+G";
				else if(band == "9")
					band2_span.innerHTML = "G+N";
				else if(band == "10")
					band2_span.innerHTML = "B+G+N";
			}
			else if(wlan_idx == "0")
			{
				if(disabled == "1")
					id5_apenb.innerHTML = "Disabled";
				else if(disabled == "0")
					id5_apenb.innerHTML = "Enabled";

				if(channumber == "0")
					id5_apchannel.innerHTML = "Automatic";
				else
					id5_apchannel.innerHTML = channumber;

				if(encrypt == "0")				
					id5_apsecmode.innerHTML = "Open";				
				else if(encrypt == "1")		
				{
					if(wep_key.length <= 10)						
						id5_apsecmode.innerHTML = "WEP 64bits";		
					else
						id5_apsecmode.innerHTML = "WEP 128bits";
				}
				else if(encrypt == "2")
					id5_apsecmode.innerHTML = "WPA";		
				else if(encrypt == "4")
					id5_apsecmode.innerHTML = "WPA2";		
				else if(encrypt == "6")
					id5_apsecmode.innerHTML = "WPA/WPA2 Mixed";	

				id5_ssid.innerHTML = ssid;

				if(band == "3")
					band5_span.innerHTML = "A";
				else if(band == "7")
					band5_span.innerHTML = "N";
				else if(band == "11")
					band5_span.innerHTML = "A+N";
			}
		}
	}
}


</script>
</head>

<body>
	<div id="wrapper">    
		<%actInclude("top_nav.html")%>   		
		
		<div id="content_left">
			<div id="content_left_header"></div>
			<div id="content_left_contentarea">

				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="wl_title_table">
		            <tr align="center">
		                <th><strong>Wireless Status</strong></th>
		            </tr>		           
		        </table>
		        
				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="wl2g_table">					
					<tr>
						<td colspan="2"><strong>Wireless Band: 2.4GHz (<span id="band2_span"></span>)<strong></td>							
					</tr>	          			                
	                <tr>
	                    <td width="160">Wireless Radio:</td>
	                    <td width="120"><span id='id2_apenb'>Enabled</span></td>
	                </tr>
	                <tr>
	                    <td width="160">Wireless SSID:</td>
	                    <td width="120"><span id='id2_ssid'></span></td>
	                </tr>
	                <tr>
	                    <td>Wireless Security:</td>
	                    <td><span id='id2_apsecmode'></span></td>
	                </tr>
	                <tr>
	                    <td>Wireless Channel:</td>
	                    <td><span id='id2_apchannel'>6</span></td>
	                </tr>
	                <tr>
	                    <td>Wireless MAC:</td>
	                    <td><span id='id2_macaddr'></span></td>
	                </tr>
				</table>

				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="wl5g_table">	
	                <tr>
						<td colspan="2"><strong>Wireless Band: 5GHz (<span id="band5_span"></span>)<strong></td>							
					</tr>	          			                
	                <tr>
	                    <td width="160">Wireless Radio:</td>
	                    <td width="120"><span id='id5_apenb'>Enabled</span></td>
	                </tr>	  
	                <tr>
	                    <td width="160">Wireless SSID:</td>
	                    <td width="120"><span id='id5_ssid'></span></td>
	                </tr>
	                <tr>
	                    <td>Wireless Security:</td>
	                    <td><span id='id5_apsecmode'></span></td>
	                </tr>
	                <tr>
	                    <td>Wireless Channel:</td>
	                    <td><span id='id5_apchannel'>6</span></td>
	                </tr>
	                <tr>
	                    <td>Wireless MAC:</td>
	                    <td><span id='id5_macaddr'></span></td>
	                </tr>
	            </table>	  

	            <table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="moca_left_head">
		            <tr align="center">
		            	<th width="45"></th>
		                <th><strong>MoCA Coax Status</strong></th>
		            </tr>           
		        </table>
            
		    	<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="moca_left_body">	            	
	                <tr>
	                    <td width="160">MoCA Channel:</td>
	                    <td width="120"><span id='id_left_mocachannel'></span></td>
	                </tr>
	                <tr>
	                    <td>MoCA Privacy:</td>
	                    <td><span id='id_left_mocaprivacy'></span></td>
	                </tr>   
	                <tr>
	                    <td>MoCA MAC:</td>
	                    <td><span><% actValue("status", "mocamac"); %></span></td>
	                 </tr>
	            </table>
	        </div>
	        <div id="content_left_footer"></div>    
		</div>

		<div id="content_right">
			<div id="content_right_header"></div>
			<div id="content_right_contentarea">
			
				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style">
		            <tr align="center">
	                    <th><strong>Network Stations</strong></th>	                    
	                </tr>
	        	</table>    
	        
				<span id="clients_span">
					<%actTable("status", "list")%>
				</span>
			</div>
	        <div id="content_right_footer"></div>     
		</div>

		<div id="content_right">
			<div id="content_right_header"></div>
			<div id="content_right_contentarea">

				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="moca_right_head">
		            <tr align="center">
		            	<th width="45"></th>
		                <th><strong>MoCA Coax Status</strong></th>
		            </tr>           
		        </table>
            
		    	<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style" id="moca_right_body">	            	
	                <tr>
	                    <td width="160">MoCA Channel:</td>
	                    <td width="120"><span id='id_right_mocachannel'></span></td>
	                </tr>
	                <tr>
	                    <td>MoCA Privacy:</td>
	                    <td><span id='id_right_mocaprivacy'></span></td>
	                </tr>   
	                <tr>
	                    <td>MoCA MAC:</td>
	                    <td><span><% actValue("status", "mocamac"); %></span></td>
	                 </tr>
	            </table>
	             
				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style">
		             <tr align="center">
		                 <th><strong>Product Information</strong></th>
		             </tr>		           
		        </table>
	        
				<table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style">				
	                 <tr>
	                    <td>Model Number:</td>
	                    <td>WCB3000</td>
	                 </tr>   
	                 <tr>
	                    <td>Firmware Version:</td>
	                    <td><span><% getInfo("fwVersion"); %></span></td>
	                 </tr>
	                 <tr>
	                    <td>System Time:</td>
	                    <td><span><% getInfo("uptime"); %></span></td>
	                 </tr>
	                 <tr>
	                    <td>IP Address:</td>
	                    <td><span id="id_ipaddress"></span></td>
	                 </tr>
	                 <tr>
	                    <td>Subnet Mask:</td>
	                    <td><span id="id_subnet"></span></td>
	                 </tr>
	                 <tr>
	                    <td>Default Gateway:</td>
	                    <td><span id="id_gateway"></span></td>
	                 </tr>
	                 <!--<tr>
	                    <td>Ethernet MAC:</td>
	                    <td><span><% actValue("status", "ethmac"); %></span></td>
	                 </tr>-->
	             </table>

	             <table width="80%" border="0" cellpadding="0" cellspacing="0" class="status_style">
		             <tr align="center">
		                 <th><strong>IPv6 Address</strong></th>
		             </tr>		           
		        </table>

				<span id="ipv6_span"></span>	
	             
			</div>
	        <div id="content_right_footer"></div>     
		</div>
		
        <div class="clear_left"></div>
   		<%actInclude("wcb_footer.html")%>
	</div>
</body>
</html>

