[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/lennart/git/dbus/test/test-shell-service -test "that" 'we get' back --what "we put in"

