[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/boston/johnp/devel-local/security/dbus/test/test-shell-service "this should 'fail' because of an unterminated quote 
