[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/boston/johnp/devel-local/security/dbus/test/test-shell-service -test "that" 'we get' back --what "we put in"
